<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
	<key>ampersand</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-66</integer>
	    <key>ae</key>
	    <integer>34</integer>
	    <key>AE</key>
	    <integer>37</integer>
	</dict>
	<key>parenleft</key>
	<dict>
	    <key>ae</key>
	    <integer>26</integer>
	    <key>AE</key>
	    <integer>29</integer>
	    <key>braceleft</key>
	    <integer>-39</integer>
	    <key>four</key>
	    <integer>-58</integer>
	</dict>
	<key>parenright</key>
	<dict>
	    <key>braceright</key>
	    <integer>-16</integer>
	</dict>
	<key>asterisk</key>
	<dict>
	    <key>ae</key>
	    <integer>-63</integer>
	    <key>germandbls</key>
	    <integer>-21</integer>
	    <key>AE</key>
	    <integer>-56</integer>
	    <key>j</key>
	    <integer>-33</integer>
	    <key>J</key>
	    <integer>-20</integer>
	</dict>
	<key>plus</key>
	<dict>
	    <key>seven</key>
	    <integer>-34</integer>
	    <key>three</key>
	    <integer>-25</integer>
	    <key>two</key>
	    <integer>-27</integer>
	    <key>one</key>
	    <integer>-19</integer>
	</dict>
	<key>comma</key>
	<dict>
	    <key>nine</key>
	    <integer>-19</integer>
	    <key>seven</key>
	    <integer>-20</integer>
	</dict>
	<key>hyphen</key>
	<dict>
	    <key>eight</key>
	    <integer>-20</integer>
	    <key>seven</key>
	    <integer>-68</integer>
	    <key>three</key>
	    <integer>-40</integer>
	    <key>two</key>
	    <integer>-37</integer>
	    <key>one</key>
	    <integer>-40</integer>
	</dict>
	<key>period</key>
	<dict>
	    <key>nine</key>
	    <integer>-19</integer>
	    <key>seven</key>
	    <integer>-20</integer>
	</dict>
	<key>slash</key>
	<dict>
	    <key>ae</key>
	    <integer>-64</integer>
	    <key>germandbls</key>
	    <integer>-29</integer>
	    <key>AE</key>
	    <integer>-59</integer>
	    <key>j</key>
	    <integer>-51</integer>
	    <key>J</key>
	    <integer>-45</integer>
	    <key>four</key>
	    <integer>-18</integer>
	    <key>slash</key>
	    <integer>-53</integer>
	</dict>
	<key>zero</key>
	<dict>
	    <key>braceright</key>
	    <integer>-17</integer>
	    <key>slash</key>
	    <integer>-16</integer>
	</dict>
	<key>one</key>
	<dict>
	    <key>fraction</key>
	    <integer>20</integer>
	    <key>hyphen</key>
	    <integer>-31</integer>
	</dict>
	<key>four</key>
	<dict>
	    <key>degree</key>
	    <integer>-20</integer>
	    <key>braceright</key>
	    <integer>-20</integer>
	    <key>y</key>
	    <integer>-38</integer>
	    <key>bracketright</key>
	    <integer>-30</integer>
	    <key>backslash</key>
	    <integer>-19</integer>
	    <key>Y</key>
	    <integer>-45</integer>
	    <key>T</key>
	    <integer>-43</integer>
	    <key>seven</key>
	    <integer>-32</integer>
	    <key>four</key>
	    <integer>32</integer>
	    <key>three</key>
	    <integer>-17</integer>
	    <key>parenright</key>
	    <integer>-27</integer>
	</dict>
	<key>six</key>
	<dict>
	    <key>backslash</key>
	    <integer>-16</integer>
	</dict>
	<key>seven</key>
	<dict>
	    <key>minus</key>
	    <integer>-33</integer>
	    <key>fraction</key>
	    <integer>-42</integer>
	    <key>j</key>
	    <integer>-55</integer>
	    <key>a</key>
	    <integer>-54</integer>
	    <key>J</key>
	    <integer>-51</integer>
	    <key>A</key>
	    <integer>-51</integer>
	    <key>equal</key>
	    <integer>-28</integer>
	    <key>slash</key>
	    <integer>-51</integer>
	    <key>period</key>
	    <integer>-69</integer>
	    <key>hyphen</key>
	    <integer>-35</integer>
	    <key>comma</key>
	    <integer>-69</integer>
	</dict>
	<key>eight</key>
	<dict>
	    <key>hyphen</key>
	    <integer>-21</integer>
	</dict>
	<key>equal</key>
	<dict>
	    <key>seven</key>
	    <integer>-17</integer>
	</dict>
	<key>B</key>
	<dict>
	    <key>ae</key>
	    <integer>-9</integer>
	    <key>backslash</key>
	    <integer>-16</integer>
	</dict>
	<key>D</key>
	<dict>
	    <key>ae</key>
	    <integer>-58</integer>
	    <key>germandbls</key>
	    <integer>-24</integer>
	</dict>
	<key>F</key>
	<dict>
	    <key>ae</key>
	    <integer>-154</integer>
	    <key>germandbls</key>
	    <integer>-38</integer>
	    <key>AE</key>
	    <integer>-127</integer>
	    <key>j</key>
	    <integer>-128</integer>
	    <key>J</key>
	    <integer>-110</integer>
	    <key>slash</key>
	    <integer>-42</integer>
	    <key>comma</key>
	    <integer>-70</integer>
	</dict>
	<key>J</key>
	<dict>
	    <key>ae</key>
	    <integer>-110</integer>
	    <key>germandbls</key>
	    <integer>-42</integer>
	    <key>AE</key>
	    <integer>-91</integer>
	    <key>j</key>
	    <integer>-67</integer>
	    <key>J</key>
	    <integer>-52</integer>
	    <key>slash</key>
	    <integer>-39</integer>
	    <key>comma</key>
	    <integer>-40</integer>
	</dict>
	<key>K</key>
	<dict>
	    <key>ae</key>
	    <integer>22</integer>
	    <key>AE</key>
	    <integer>23</integer>
	    <key>four</key>
	    <integer>-38</integer>
	</dict>
	<key>L</key>
	<dict>
	    <key>ae</key>
	    <integer>20</integer>
	    <key>periodcentered</key>
	    <integer>-74</integer>
	    <key>four</key>
	    <integer>-28</integer>
	</dict>
	<key>P</key>
	<dict>
	    <key>ae</key>
	    <integer>-201</integer>
	    <key>germandbls</key>
	    <integer>-37</integer>
	    <key>AE</key>
	    <integer>-189</integer>
	    <key>braceright</key>
	    <integer>-18</integer>
	    <key>j</key>
	    <integer>-213</integer>
	    <key>J</key>
	    <integer>-201</integer>
	    <key>slash</key>
	    <integer>-51</integer>
	    <key>comma</key>
	    <integer>-151</integer>
	</dict>
	<key>S</key>
	<dict>
	    <key>ae</key>
	    <integer>-17</integer>
	    <key>germandbls</key>
	    <integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
	    <key>ae</key>
	    <integer>-107</integer>
	    <key>germandbls</key>
	    <integer>-34</integer>
	    <key>four</key>
	    <integer>-19</integer>
	</dict>
	<key>U</key>
	<dict>
	    <key>ae</key>
	    <integer>-124</integer>
	    <key>germandbls</key>
	    <integer>-48</integer>
	</dict>
	<key>X</key>
	<dict>
	    <key>ae</key>
	    <integer>23</integer>
	    <key>AE</key>
	    <integer>27</integer>
	    <key>four</key>
	    <integer>-24</integer>
	</dict>
	<key>Y</key>
	<dict>
	    <key>ae</key>
	    <integer>-213</integer>
	    <key>germandbls</key>
	    <integer>-44</integer>
	    <key>seven</key>
	    <integer>25</integer>
	    <key>four</key>
	    <integer>-36</integer>
	</dict>
	<key>bracketleft</key>
	<dict>
	    <key>ae</key>
	    <integer>20</integer>
	    <key>AE</key>
	    <integer>23</integer>
	    <key>braceleft</key>
	    <integer>-40</integer>
	    <key>four</key>
	    <integer>-56</integer>
	</dict>
	<key>backslash</key>
	<dict>
	    <key>quoteright</key>
	    <integer>-43</integer>
	    <key>ae</key>
	    <integer>42</integer>
	    <key>AE</key>
	    <integer>46</integer>
	    <key>nine</key>
	    <integer>-16</integer>
	    <key>zero</key>
	    <integer>-16</integer>
	</dict>
	<key>a</key>
	<dict>
	    <key>Y</key>
	    <integer>-153</integer>
	    <key>U</key>
	    <integer>-100</integer>
	    <key>T</key>
	    <integer>-98</integer>
	    <key>S</key>
	    <integer>-12</integer>
	    <key>D</key>
	    <integer>-12</integer>
	    <key>four</key>
	    <integer>-21</integer>
	</dict>
	<key>b</key>
	<dict>
	    <key>backslash</key>
	    <integer>-23</integer>
	    <key>Y</key>
	    <integer>-42</integer>
	    <key>U</key>
	    <integer>-40</integer>
	    <key>T</key>
	    <integer>-34</integer>
	    <key>S</key>
	    <integer>-10</integer>
	    <key>D</key>
	    <integer>-13</integer>
	</dict>
	<key>c</key>
	<dict>
	    <key>U</key>
	    <integer>-9</integer>
	    <key>J</key>
	    <integer>-10</integer>
	    <key>D</key>
	    <integer>-9</integer>
	</dict>
	<key>d</key>
	<dict>
	    <key>ae</key>
	    <integer>-39</integer>
	    <key>germandbls</key>
	    <integer>-17</integer>
	    <key>Z</key>
	    <integer>-10</integer>
	    <key>Y</key>
	    <integer>-46</integer>
	    <key>X</key>
	    <integer>-16</integer>
	    <key>U</key>
	    <integer>-38</integer>
	    <key>T</key>
	    <integer>-30</integer>
	    <key>S</key>
	    <integer>-14</integer>
	    <key>J</key>
	    <integer>-11</integer>
	    <key>D</key>
	    <integer>-31</integer>
	</dict>
	<key>f</key>
	<dict>
	    <key>ae</key>
	    <integer>-120</integer>
	    <key>germandbls</key>
	    <integer>-27</integer>
	    <key>j</key>
	    <integer>-104</integer>
	    <key>J</key>
	    <integer>-101</integer>
	    <key>D</key>
	    <integer>-9</integer>
	    <key>slash</key>
	    <integer>-36</integer>
	    <key>comma</key>
	    <integer>-56</integer>
	</dict>
	<key>g</key>
	<dict>
	    <key>U</key>
	    <integer>-9</integer>
	</dict>
	<key>h</key>
	<dict>
	    <key>U</key>
	    <integer>-14</integer>
	</dict>
	<key>j</key>
	<dict>
	    <key>ae</key>
	    <integer>-85</integer>
	    <key>germandbls</key>
	    <integer>-28</integer>
	    <key>j</key>
	    <integer>-50</integer>
	    <key>S</key>
	    <integer>-12</integer>
	    <key>J</key>
	    <integer>-51</integer>
	    <key>D</key>
	    <integer>-13</integer>
	    <key>slash</key>
	    <integer>-35</integer>
	    <key>comma</key>
	    <integer>-34</integer>
	</dict>
	<key>k</key>
	<dict>
	    <key>ae</key>
	    <integer>46</integer>
	    <key>Y</key>
	    <integer>13</integer>
	    <key>four</key>
	    <integer>-19</integer>
	</dict>
	<key>l</key>
	<dict>
	    <key>periodcentered</key>
	    <integer>-67</integer>
	    <key>Y</key>
	    <integer>-126</integer>
	    <key>U</key>
	    <integer>-81</integer>
	    <key>T</key>
	    <integer>-85</integer>
	    <key>four</key>
	    <integer>-26</integer>
	</dict>
	<key>p</key>
	<dict>
	    <key>ae</key>
	    <integer>-176</integer>
	    <key>germandbls</key>
	    <integer>-33</integer>
	    <key>braceright</key>
	    <integer>-47</integer>
	    <key>j</key>
	    <integer>-188</integer>
	    <key>X</key>
	    <integer>-12</integer>
	    <key>J</key>
	    <integer>-177</integer>
	    <key>D</key>
	    <integer>-22</integer>
	    <key>slash</key>
	    <integer>-46</integer>
	    <key>comma</key>
	    <integer>-124</integer>
	    <key>parenright</key>
	    <integer>-18</integer>
	</dict>
	<key>r</key>
	<dict>
	    <key>Y</key>
	    <integer>-20</integer>
	    <key>U</key>
	    <integer>-28</integer>
	    <key>T</key>
	    <integer>-16</integer>
	    <key>J</key>
	    <integer>-12</integer>
	    <key>D</key>
	    <integer>-12</integer>
	</dict>
	<key>s</key>
	<dict>
	    <key>Y</key>
	    <integer>-14</integer>
	    <key>U</key>
	    <integer>-19</integer>
	    <key>T</key>
	    <integer>-14</integer>
	    <key>D</key>
	    <integer>-11</integer>
	</dict>
	<key>t</key>
	<dict>
	    <key>ae</key>
	    <integer>-106</integer>
	    <key>germandbls</key>
	    <integer>-24</integer>
	    <key>J</key>
	    <integer>-114</integer>
	</dict>
	<key>u</key>
	<dict>
	    <key>ae</key>
	    <integer>-109</integer>
	    <key>germandbls</key>
	    <integer>-33</integer>
	    <key>S</key>
	    <integer>-13</integer>
	    <key>J</key>
	    <integer>-64</integer>
	    <key>D</key>
	    <integer>-14</integer>
	</dict>
	<key>x</key>
	<dict>
	    <key>ae</key>
	    <integer>23</integer>
	    <key>four</key>
	    <integer>-16</integer>
	</dict>
	<key>y</key>
	<dict>
	    <key>ae</key>
	    <integer>-188</integer>
	    <key>germandbls</key>
	    <integer>-31</integer>
	    <key>Y</key>
	    <integer>32</integer>
	    <key>T</key>
	    <integer>10</integer>
	    <key>J</key>
	    <integer>-218</integer>
	    <key>nine</key>
	    <integer>11</integer>
	    <key>seven</key>
	    <integer>23</integer>
	</dict>
	<key>braceleft</key>
	<dict>
	    <key>idieresis</key>
	    <integer>65</integer>
	    <key>icircumflex</key>
	    <integer>61</integer>
	    <key>ae</key>
	    <integer>35</integer>
	    <key>AE</key>
	    <integer>38</integer>
	    <key>braceleft</key>
	    <integer>-34</integer>
	    <key>four</key>
	    <integer>-47</integer>
	    <key>zero</key>
	    <integer>-17</integer>
	    <key>parenleft</key>
	    <integer>-16</integer>
	</dict>
	<key>braceright</key>
	<dict>
	    <key>braceright</key>
	    <integer>-34</integer>
	    <key>bracketright</key>
	    <integer>-40</integer>
	    <key>parenright</key>
	    <integer>-39</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
	    <key>AE</key>
	    <integer>10</integer>
	</dict>
	<key>sterling</key>
	<dict>
	    <key>four</key>
	    <integer>-19</integer>
	</dict>
	<key>uni00AD</key>
	<dict>
	    <key>quoteright</key>
	    <integer>761</integer>
	    <key>uni021B</key>
	    <integer>818</integer>
	    <key>uni021A</key>
	    <integer>804</integer>
	    <key>uni0219</key>
	    <integer>766</integer>
	    <key>uni0218</key>
	    <integer>716</integer>
	    <key>zcaron</key>
	    <integer>861</integer>
	    <key>Zcaron</key>
	    <integer>840</integer>
	    <key>zdotaccent</key>
	    <integer>853</integer>
	    <key>Zdotaccent</key>
	    <integer>840</integer>
	    <key>zacute</key>
	    <integer>853</integer>
	    <key>Zacute</key>
	    <integer>840</integer>
	    <key>Ydieresis</key>
	    <integer>837</integer>
	    <key>uhungarumlaut</key>
	    <integer>782</integer>
	    <key>Uhungarumlaut</key>
	    <integer>753</integer>
	    <key>uring</key>
	    <integer>782</integer>
	    <key>Uring</key>
	    <integer>753</integer>
	    <key>tcaron</key>
	    <integer>814</integer>
	    <key>Tcaron</key>
	    <integer>804</integer>
	    <key>tcommaaccent</key>
	    <integer>818</integer>
	    <key>Tcommaaccent</key>
	    <integer>804</integer>
	    <key>scaron</key>
	    <integer>766</integer>
	    <key>Scaron</key>
	    <integer>718</integer>
	    <key>scedilla</key>
	    <integer>762</integer>
	    <key>Scedilla</key>
	    <integer>712</integer>
	    <key>sacute</key>
	    <integer>766</integer>
	    <key>Sacute</key>
	    <integer>718</integer>
	    <key>rcaron</key>
	    <integer>727</integer>
	    <key>Rcaron</key>
	    <integer>698</integer>
	    <key>racute</key>
	    <integer>727</integer>
	    <key>Racute</key>
	    <integer>698</integer>
	    <key>oe</key>
	    <integer>798</integer>
	    <key>OE</key>
	    <integer>771</integer>
	    <key>ohungarumlaut</key>
	    <integer>797</integer>
	    <key>Ohungarumlaut</key>
	    <integer>770</integer>
	    <key>ncaron</key>
	    <integer>727</integer>
	    <key>Ncaron</key>
	    <integer>698</integer>
	    <key>nacute</key>
	    <integer>727</integer>
	    <key>Nacute</key>
	    <integer>698</integer>
	    <key>lslash</key>
	    <integer>726</integer>
	    <key>Lslash</key>
	    <integer>697</integer>
	    <key>lcaron</key>
	    <integer>727</integer>
	    <key>Lcaron</key>
	    <integer>698</integer>
	    <key>lacute</key>
	    <integer>727</integer>
	    <key>Lacute</key>
	    <integer>698</integer>
	    <key>dotlessi</key>
	    <integer>727</integer>
	    <key>Idotaccent</key>
	    <integer>698</integer>
	    <key>gbreve</key>
	    <integer>796</integer>
	    <key>Gbreve</key>
	    <integer>769</integer>
	    <key>ecaron</key>
	    <integer>756</integer>
	    <key>Ecaron</key>
	    <integer>726</integer>
	    <key>eogonek</key>
	    <integer>756</integer>
	    <key>Eogonek</key>
	    <integer>726</integer>
	    <key>dcroat</key>
	    <integer>731</integer>
	    <key>Dcroat</key>
	    <integer>702</integer>
	    <key>dcaron</key>
	    <integer>732</integer>
	    <key>Dcaron</key>
	    <integer>704</integer>
	    <key>ccaron</key>
	    <integer>796</integer>
	    <key>Ccaron</key>
	    <integer>770</integer>
	    <key>cacute</key>
	    <integer>796</integer>
	    <key>Cacute</key>
	    <integer>770</integer>
	    <key>aogonek</key>
	    <integer>803</integer>
	    <key>Aogonek</key>
	    <integer>775</integer>
	    <key>abreve</key>
	    <integer>803</integer>
	    <key>Abreve</key>
	    <integer>775</integer>
	    <key>ydieresis</key>
	    <integer>854</integer>
	    <key>thorn</key>
	    <integer>738</integer>
	    <key>yacute</key>
	    <integer>854</integer>
	    <key>udieresis</key>
	    <integer>782</integer>
	    <key>ucircumflex</key>
	    <integer>782</integer>
	    <key>uacute</key>
	    <integer>782</integer>
	    <key>ugrave</key>
	    <integer>782</integer>
	    <key>oslash</key>
	    <integer>797</integer>
	    <key>odieresis</key>
	    <integer>797</integer>
	    <key>otilde</key>
	    <integer>797</integer>
	    <key>ocircumflex</key>
	    <integer>797</integer>
	    <key>oacute</key>
	    <integer>797</integer>
	    <key>ograve</key>
	    <integer>797</integer>
	    <key>ntilde</key>
	    <integer>727</integer>
	    <key>eth</key>
	    <integer>730</integer>
	    <key>idieresis</key>
	    <integer>889</integer>
	    <key>icircumflex</key>
	    <integer>885</integer>
	    <key>iacute</key>
	    <integer>727</integer>
	    <key>igrave</key>
	    <integer>727</integer>
	    <key>edieresis</key>
	    <integer>756</integer>
	    <key>ecircumflex</key>
	    <integer>756</integer>
	    <key>eacute</key>
	    <integer>756</integer>
	    <key>egrave</key>
	    <integer>756</integer>
	    <key>ccedilla</key>
	    <integer>792</integer>
	    <key>ae</key>
	    <integer>945</integer>
	    <key>aring</key>
	    <integer>803</integer>
	    <key>adieresis</key>
	    <integer>803</integer>
	    <key>atilde</key>
	    <integer>803</integer>
	    <key>acircumflex</key>
	    <integer>803</integer>
	    <key>aacute</key>
	    <integer>803</integer>
	    <key>agrave</key>
	    <integer>803</integer>
	    <key>germandbls</key>
	    <integer>790</integer>
	    <key>Thorn</key>
	    <integer>701</integer>
	    <key>Yacute</key>
	    <integer>837</integer>
	    <key>Udieresis</key>
	    <integer>753</integer>
	    <key>Ucircumflex</key>
	    <integer>753</integer>
	    <key>Uacute</key>
	    <integer>753</integer>
	    <key>Ugrave</key>
	    <integer>753</integer>
	    <key>Oslash</key>
	    <integer>769</integer>
	    <key>Odieresis</key>
	    <integer>770</integer>
	    <key>Otilde</key>
	    <integer>770</integer>
	    <key>Ocircumflex</key>
	    <integer>770</integer>
	    <key>Oacute</key>
	    <integer>770</integer>
	    <key>Ograve</key>
	    <integer>770</integer>
	    <key>Ntilde</key>
	    <integer>698</integer>
	    <key>Eth</key>
	    <integer>702</integer>
	    <key>Idieresis</key>
	    <integer>875</integer>
	    <key>Icircumflex</key>
	    <integer>830</integer>
	    <key>Iacute</key>
	    <integer>698</integer>
	    <key>Igrave</key>
	    <integer>698</integer>
	    <key>Edieresis</key>
	    <integer>726</integer>
	    <key>Ecircumflex</key>
	    <integer>726</integer>
	    <key>Eacute</key>
	    <integer>726</integer>
	    <key>Egrave</key>
	    <integer>726</integer>
	    <key>Ccedilla</key>
	    <integer>766</integer>
	    <key>AE</key>
	    <integer>930</integer>
	    <key>Aring</key>
	    <integer>775</integer>
	    <key>Adieresis</key>
	    <integer>775</integer>
	    <key>Atilde</key>
	    <integer>775</integer>
	    <key>Acircumflex</key>
	    <integer>775</integer>
	    <key>Aacute</key>
	    <integer>775</integer>
	    <key>Agrave</key>
	    <integer>775</integer>
	    <key>z</key>
	    <integer>853</integer>
	    <key>y</key>
	    <integer>854</integer>
	    <key>x</key>
	    <integer>833</integer>
	    <key>w</key>
	    <integer>861</integer>
	    <key>v</key>
	    <integer>862</integer>
	    <key>u</key>
	    <integer>782</integer>
	    <key>t</key>
	    <integer>814</integer>
	    <key>s</key>
	    <integer>766</integer>
	    <key>r</key>
	    <integer>727</integer>
	    <key>q</key>
	    <integer>793</integer>
	    <key>p</key>
	    <integer>727</integer>
	    <key>o</key>
	    <integer>797</integer>
	    <key>n</key>
	    <integer>727</integer>
	    <key>m</key>
	    <integer>727</integer>
	    <key>l</key>
	    <integer>727</integer>
	    <key>k</key>
	    <integer>727</integer>
	    <key>j</key>
	    <integer>812</integer>
	    <key>i</key>
	    <integer>727</integer>
	    <key>h</key>
	    <integer>756</integer>
	    <key>g</key>
	    <integer>796</integer>
	    <key>f</key>
	    <integer>756</integer>
	    <key>e</key>
	    <integer>756</integer>
	    <key>d</key>
	    <integer>732</integer>
	    <key>c</key>
	    <integer>796</integer>
	    <key>b</key>
	    <integer>760</integer>
	    <key>a</key>
	    <integer>803</integer>
	    <key>Z</key>
	    <integer>841</integer>
	    <key>Y</key>
	    <integer>837</integer>
	    <key>X</key>
	    <integer>814</integer>
	    <key>W</key>
	    <integer>844</integer>
	    <key>V</key>
	    <integer>846</integer>
	    <key>U</key>
	    <integer>753</integer>
	    <key>T</key>
	    <integer>804</integer>
	    <key>S</key>
	    <integer>718</integer>
	    <key>R</key>
	    <integer>698</integer>
	    <key>Q</key>
	    <integer>766</integer>
	    <key>P</key>
	    <integer>698</integer>
	    <key>O</key>
	    <integer>770</integer>
	    <key>N</key>
	    <integer>698</integer>
	    <key>M</key>
	    <integer>698</integer>
	    <key>L</key>
	    <integer>698</integer>
	    <key>K</key>
	    <integer>698</integer>
	    <key>J</key>
	    <integer>791</integer>
	    <key>I</key>
	    <integer>698</integer>
	    <key>H</key>
	    <integer>726</integer>
	    <key>G</key>
	    <integer>769</integer>
	    <key>F</key>
	    <integer>726</integer>
	    <key>E</key>
	    <integer>726</integer>
	    <key>D</key>
	    <integer>704</integer>
	    <key>C</key>
	    <integer>770</integer>
	    <key>B</key>
	    <integer>772</integer>
	    <key>A</key>
	    <integer>775</integer>
	    <key>quotesingle</key>
	    <integer>725</integer>
	    <key>quotedbl</key>
	    <integer>725</integer>
	</dict>
	<key>registered</key>
	<dict>
	    <key>ae</key>
	    <integer>-18</integer>
	</dict>
	<key>questiondown</key>
	<dict>
	    <key>ae</key>
	    <integer>30</integer>
	    <key>AE</key>
	    <integer>34</integer>
	</dict>
	<key>Thorn</key>
	<dict>
	    <key>AE</key>
	    <integer>-175</integer>
	    <key>braceright</key>
	    <integer>-24</integer>
	    <key>y</key>
	    <integer>17</integer>
	    <key>j</key>
	    <integer>-201</integer>
	    <key>d</key>
	    <integer>-9</integer>
	    <key>a</key>
	    <integer>-111</integer>
	    <key>J</key>
	    <integer>-173</integer>
	    <key>slash</key>
	    <integer>-44</integer>
	    <key>comma</key>
	    <integer>-121</integer>
	</dict>
	<key>germandbls</key>
	<dict>
	    <key>trademark</key>
	    <integer>-19</integer>
	    <key>y</key>
	    <integer>-43</integer>
	    <key>u</key>
	    <integer>-32</integer>
	    <key>t</key>
	    <integer>-39</integer>
	    <key>s</key>
	    <integer>-10</integer>
	    <key>backslash</key>
	    <integer>-32</integer>
	</dict>
	<key>icircumflex</key>
	<dict>
	    <key>braceright</key>
	    <integer>64</integer>
	</dict>
	<key>idieresis</key>
	<dict>
	    <key>braceright</key>
	    <integer>68</integer>
	</dict>
	<key>thorn</key>
	<dict>
	    <key>braceright</key>
	    <integer>-52</integer>
	    <key>j</key>
	    <integer>-111</integer>
	    <key>d</key>
	    <integer>-11</integer>
	    <key>a</key>
	    <integer>-85</integer>
	    <key>bracketright</key>
	    <integer>-19</integer>
	    <key>slash</key>
	    <integer>-35</integer>
	    <key>comma</key>
	    <integer>-74</integer>
	    <key>parenright</key>
	    <integer>-33</integer>
	</dict>
	<key>Lcaron</key>
	<dict>
	    <key>AE</key>
	    <integer>-164</integer>
	    <key>y</key>
	    <integer>23</integer>
	    <key>j</key>
	    <integer>-193</integer>
	    <key>a</key>
	    <integer>-110</integer>
	    <key>J</key>
	    <integer>-146</integer>
	    <key>slash</key>
	    <integer>-40</integer>
	    <key>comma</key>
	    <integer>-95</integer>
	    <key>asterisk</key>
	    <integer>18</integer>
	</dict>
	<key>lcaron</key>
	<dict>
	    <key>uni00AD</key>
	    <integer>82</integer>
	    <key>y</key>
	    <integer>21</integer>
	    <key>j</key>
	    <integer>-139</integer>
	    <key>slash</key>
	    <integer>-37</integer>
	    <key>comma</key>
	    <integer>-72</integer>
	    <key>asterisk</key>
	    <integer>15</integer>
	</dict>
	<key>quoteright</key>
	<dict>
	    <key>slash</key>
	    <integer>-44</integer>
	</dict>
	<key>fraction</key>
	<dict>
	    <key>seven</key>
	    <integer>34</integer>
	</dict>
	<key>trademark</key>
	<dict>
	    <key>ae</key>
	    <integer>-87</integer>
	    <key>germandbls</key>
	    <integer>-16</integer>
	    <key>AE</key>
	    <integer>-82</integer>
	    <key>j</key>
	    <integer>-78</integer>
	    <key>J</key>
	    <integer>-48</integer>
	</dict>
	<key>minus</key>
	<dict>
	    <key>seven</key>
	    <integer>-55</integer>
	    <key>three</key>
	    <integer>-17</integer>
	    <key>one</key>
	    <integer>-22</integer>
	</dict>
    </dict>
</plist>
